#exportPattern("^[[:alpha:]]+")
export(wordgame)
export(shuffle)
#import(tidyverse)
importFrom(magrittr,"%>%")
importFrom(dplyr,arrange)
importFrom(dplyr,bind_rows)
importFrom(dplyr,data_frame)
importFrom(dplyr,filter)
importFrom(dplyr,mutate_if)
importFrom(dplyr,mutate)
importFrom(dplyr,rowwise)
importFrom(dplyr,tbl_df)
importFrom(dplyr,ungroup)
importFrom(stringr, str_remove_all)
importFrom(stringr, str_detect)
